<!DOCTYPE html>
<html>
  <head>
    <title>ApiCurious</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="m0">
    <nav class="p2 border-box nav-bar">
      <div class="col-8 mx-auto right-align">  
        <% if current_user %>
          <%= link_to "Logout", logout_path %>
        <% else %>
          <%= link_to "Sign in with Github", '/auth/github' %>
        <% end %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
